#foto1 {
  display: flex;
  height: 600px;
  width: 100%;
}

#foto2 {
  display: flex;
  height: 600px;
  width: 100%;
}

#foto3 {
  display: flex;
  height: 600px;
  width: 100%;
}

#foto4 {
  display: flex;
  height: 300px;
  width: 100%;
}
#carouselExampleIndicators {
  margin-bottom: 80px;
}
#cards {
  margin-bottom: 70px;
}
#comic {
  margin-top: 80px;
}
